.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }
  
  .featureSvg {
    height: 200px;
    width: 200px;
  }
  
  
  
  
  .grid3col{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap:7rem;
    margin: 0 auto;
    padding: 4rem;
  }
  @media screen and (max-width: 1680px) {
    .grid3col{
      display: grid;
      grid-template-columns: repeat(3,minmax(0,1fr));
      gap:56px;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 1180px) {
    .grid3col{
      display: grid;
      grid-template-columns: repeat(2,minmax(0,1fr));
      gap:56px;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 768px) {
    .grid3col{
      display: grid;
      grid-template-columns: repeat(1,minmax(0,1fr));
      gap:56px 0px;
      margin: 0 auto;
    }
  }
  
  
  .listContainer{
    min-height: 5rem;
  }
  @media screen and (max-width: 768px) {
    .listContainer{
      min-height: 3rem;
      padding-bottom: 1rem;
    }
  }
  .listContainer li{
    list-style-type: none;
    position: relative;
  }
  
  
  
  
  .homecard{
    background-color: #1c1f26;
    width: 370px;
    padding: 8px;
    position: relative;
    display: block;
    border-radius: 16px;
    border: 1px solid #a8b3cf33;
  }
  
  html[data-theme='light'] .homecard{
    background-color: #fff;
    border: 1px solid #a8b3cf;
    color: #000;
    box-shadow: 10px 5px 5px #a8b3cf33;
  }
  
  
  .homecard h2{
    margin: 8px 16px;
    min-height: 1.4rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  
  html[data-theme='light'] .homecard a{
     color: #000;
  }
  .homecard a{
    color: white;
    line-height: 2rem;;
  }

