@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/static/Inter-Light.ttf");
}


.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 400px;
  width: 200px;
}

.grid3col {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 56px;
  margin: 0 auto;

}
@media screen and (max-width: 850px) {
  .grid3col {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 70px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 630px) {
  .grid3col {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 70px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  .grid3col {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 70px 0px;
    margin: 0 auto;
  }
}

.homecard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 140px;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid #d6d6d6;
  background-color: #1c1f26;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

html[data-theme="light"] .homecard {
  color: #000;
  border-radius: 15px;
  border: 1px solid #d6d6d6; 
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.homecard .title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}

html[data-theme="dark"] .homecard{
  color: #fff;
  border-radius: 15px;
  border: 1px solid #d6d6d6; 
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.homecard .listContainerLink {
  color: #000;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}

.homecard .action {
  color: #4149f9 !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 3px 0 0 0;
}

html[data-theme="light"] .homecard a {
  color: #000;
}
.homecard a {
  color: white;
  line-height: 2rem;
}

