/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 @font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter-Light.ttf");
}


html[data-theme="dark"] header{
  color: #fff;
}

html , body {
	height: 100%;
  }

html[data-theme="dark"] p3{
  color: #fff;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBanner h1 {
  color: #fffdfd;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heroBanner p {
  color: #fffdfd;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  padding-top: 70px;
  font: bold 30px Arial, sans-serif;
  color: #5a5959;
}



h1 .hero__title {
  color: #413f3f;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p3 {
  padding-top: 15px;
  /* padding-left: 5rem; */
  color: #5a5959;
}


screen-card {
  height: 100%;
  margin: auto;
  margin-bottom: 150px;

}

